.conveyor-belt {
    padding: 100px 0px 80px;
    display: block;
    height: 770px;
    overflow: hidden;  
    width: 100%;
  }
  
  .conveyor-belt p {
    padding: 0px 0px 10px;
    text-align: center;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: .04em;
  }
  
  .conveyor-belt h2 {
    padding: 0px 0px 20px;
    text-align: center;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: .06em;
    margin-bottom: 0px;
  }
 
  .conveyor-belt {
    position: relative;
    overflow: hidden;
  }
  
  .belt-container {
    display: flex;
    height: 634.33px;
    width: auto;
    animation: conveyor-animation 50s linear infinite;
  }

  @keyframes conveyor-animation {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-300%);
    }
  }

  .belt-container:hover {
    animation-play-state: paused;
  }

  .beltItem {
    position: relative;    
  }

  .beltItem-info {
    opacity: 0;
  }

  .beltItem:hover .beltItem-info {
    opacity: 1;
  }

  .beltItem:hover .beltItem-bookmark {
    opacity: 1;
  }
  
  .beltItem-img {
    width: auto;
    height: 100%;
    object-fit: contain;
  }

  .beltItem-bookmark {
      cursor: pointer;
      position: absolute;
      width: 27px;
      height: 35px;
      top: 5px;
      right: 5px;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
  }

  .beltItem-price {
    position: absolute;
    bottom: 0;
    left: 20px;
  }

  .beltItem-button {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 1px solid rgb(19, 19, 19);
    min-width: 100px;
    padding: 10px;
    margin: 10px;
  }
  
  .beltItem-button:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
  }




